<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class = "container-fluid">
    <div class = "d-flex justify-content-around">
      <% @recipe.each do |recipe| %>
      <div class = "d-flex flex-column">
        <p> <%= recipe.name %></p>
     <%= link_to "Destroy", recipe_path(@recipe), data: {
                    turbo_method: :Destroy,
                    turbo_confirm: "Are you sure?"
                  } %>  

                  </div>
        <p> <%= recipe.description %></p>
        <% end %>
        </div>
</body>
</html>
