<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class = "container-fluid">
      <% @recipe.each do |recipe| %>
    <div class = "d-flex justify-content-around mb-2">
      <div class = "justify-content-around d-flex flex-column">
        <h2 class= "align-self-start"> <%= recipe.name %></h2>
            <form action="/foods/<%=recipe.id%>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="btn btn-secondary">
            </form> 

                  </div>
        <p class= "align-self-start lead p-4"> <%= recipe.description %></p>
        </div>
        <% end %>
</body>
</html>
