<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <%= yield %>
    <a class="btn btn-secondary m-3" href="foods/new">Add Food</a>
    <table class="table table-striped w-75 m-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Food</th>
          <th scope="col">Measurement Unit</th>
          <th scope="col">Unit price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each_with_index do |n, idx| %>
        <tr>
          <th scope="row"><%=idx + 1%></th>
          <td><%= n.name%></td>
          <td><%= n.measurement_unit%></td>
          <td>₦<%=n.price%></td>
          <td>
            <%if n.user_id == current_user.id%>
              <form action="/foods/<%=n.id%>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-secondary">
              </form>
            <%end%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
